.container {
    display: grid;
    width: 100%;
    grid-template-columns: 80% 20%; 
    grid-template-rows: 250px 40px auto 30px;
    grid-template-areas:
        "header header"
        "nav nav"
        "conten side"
        "footer footer";

  }
  
  .header{
    grid-area: header;
    background: red;
    text-align: center;
    padding: 60px;

  }
  
  .nav,a{
    grid-area:nav;
    background: green;
    text-decoration: none;
    font-size:large;
    padding:11px ;
  }
  a:hover{
    background-color: aqua;
    color: black;
    padding: 13px;

  }
  .conten {
    grid-area:conten;
    background: rgb(168, 168, 170);
    padding: 20px;
  }
  
  .side {
    grid-area: side;
    background: yellow;
    padding: 15px;
  }
  .footer{
    grid-area: footer;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    }